/*make background light grey, font red, something for boxes, less agreesive font*/
head, body, h1, ul, li, section, button, nav, h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Lumos';
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  list-style: none;
}

@font-face {
  font-family: 'Lumos';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/WitchesMagic.ttf') format('trueType');
}

body {
  /*background: #a71801;*/
  /*background: #f1e9d4;*/
  background: rgba(128, 128, 128, 0.88);
}

nav {
  font-family: "Lumos";
  background: #941B08;
  padding: 10px 0px;
  text-align: center;
  box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.22);
  color: whitesmoke;
  font-weight: bold;
}

.lists {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.complete, .incomplete {
  background: #941B08;
  /*background: #f1e9d4;*/
  padding: 20px;
  border-radius: 4px;
}

.lists section:last-child {
  margin-left: 30px;
}

.lists h2 {
  text-decoration: underline;
  text-align: center;
}

li {
  /*border: 2px solid grey;*/
  border-radius: 4px;
  background: rgb(239, 201, 0);
  padding: 10px;
  font-size: 26px;
  margin-top: 5px;
  text-align: center;
  position:relative;
}

.create-todo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: whitesmoke;
}

.delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 6px;
  z-index: 1px;
}

.delete:hover {
  cursor: pointer;
}

button {
  background: gold;
  border-radius: 4px;
  background: rgb(239, 201, 0);
  padding: 5px;
  padding-bottom: 0px;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: rgba(214, 189, 0, 1);
}
