head, body, h1, ul, li, section, button, nav, h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Lumos';
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  list-style: none;
}

@font-face {
  font-family: 'Lumos';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/WitchesMagic.ttf') format('trueType');
}

body {
  background: #dbdbdb;
}

nav {
  font-family: "Lumos";
  background: #941B08;
  padding: 10px 0px;
  text-align: center;
  box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.22);
  color: whitesmoke;
  font-weight: bold;
}

.lists {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.complete, .incomplete {
  background: #ae1d07;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  min-height: 150px;
}

.lists section:last-child {
  margin-left: 30px;
}

.lists h2 {
  text-decoration: underline;
  text-align: center;
}

li {
  border-radius: 4px;
  background: #ffc500;
  padding: 10px;
  font-size: 26px;
  margin-top: 5px;
  text-align: center;
  position:relative;
  color: black;
}

li:hover {
  cursor: pointer;
  background: #f4bd01;
}

.create-todo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: black;
}

.delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 6px;
  z-index: 1px;
  background: transparent;
}

.delete:hover {
  cursor: pointer;
}

button {
  border-radius: 4px;
  background: #ffc500;
  padding: 7px;
  padding-bottom: 2px;
  color: black;
  font-weight: bold;
}

.create-todo button:hover {
  background: #f4bd01;
}

button:hover {
  cursor: pointer;
  background: rgba(214, 189, 0, 1);
}
